<div class="nav nav-fix-top">
    <div class="navbar-panel">
        <div class="brand">
            <a href="/" class="light">linusp的博客</a>
        </div>

        <div class="catalog pull-right">
            <ul>
                <li><a href="/archives.html">存档</a></li>
                <li><a href="/categories.html">分类</a></li>
                <li><a href="/tags.html">标签</a></li>                
                <li><a href="/about.html">关于我</a></li>
                <li><a href="/rss.xml">订阅</a></li>
            </ul>
        </div>
    </div>
</div>

<!-- 防止 IE6、7 中定位元素导致相邻元素 margin-top 失效 -->
<div style="height: 0px"></div>